<ag-grid-angular
    style="width: 1200px; height: 500px;"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [rowModelType]="rowModelType"
    [serverSideInfiniteScroll]="true"
    [serverSideFilterOnServer]="true"
    [serverSideFilterAllLevels]="true"
    [suppressAggFuncInHeader]="true"
    [cacheBlockSize]="cacheBlockSize"
    [animateRows]="true"
    [rowData]="rowData"
    [serverSideDatasource]="serverSideDatasource"
    [serverSideInfiniteScroll]="true"
    [pivotMode]="pivotMode"
    [sideBar]="sideBar"
>
</ag-grid-angular>